<p>task1-data-binding works!</p>
<hr>

<!--
1. Add a Input field which updates a property ('username') via Two-Way-Binding
2. Output the username property via String Interpolation (in a paragraph below the input)
3. Add a button which may only be clicked if the username is NOT an empty string
4. Upon clicking the button, the username should be reset to an empty string -->

<label for="userName">Enter Username : </label>

<input type="text" id="userName" [(ngModel)]="userName">

<p>{{userName}}</p>

<hr>

<button class="btn  btn-outline-black" [disabled]="!userName" (click)="resetUserName()"> Submit</button>

<!--
1. Add A button which says 'Display Details'
2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')
3. Toggle the displaying of that paragraph with the button created in the first step
4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)
5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
(ngClass) -->


<br>
<div class="mt-4">
  <p style="color: rgb(0, 38, 255);">Display Details Task1:2</p>
  <button (click)="showDetails()"> Display Details </button>
  <p *ngIf="showSecret">Secret Password = tuna</p>
  <p>{{clickCount.length}}</p>

  <ul>
    @for(item of clickCount; track item ; let idx = $index )
    {

      @if(item >= 4)
      {
        <li [ngStyle]="featureStyle" [ngClass]="featureClasss"> item #{{ idx + 1 }}: {{ item }}</li>
      }
      @else
      {
        <li>item #{{ idx + 1 }}: {{ item }}</li>
      }
    }
  </ul>

</div>
